﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Loggin.aspx.cs" Inherits="Proyecto.Loggin" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <title></title>
</head>
<body>
     <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="Inicio">Inicio <span class="sr-only">(current)</span></a>
      </li>
        <li class="nav-item active">
        <a class="nav-link" href="ListaEmpresa">Empresas<span class="sr-only">(current)</span></a>
      </li>
       
    </ul>
  </div>
</nav>
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-2 col-xl-2"></div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8">
                <form id="formLogin" runat="server">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Usuario</label>
                      <asp:TextBox ID="TextBox1" type="text" class="form-control" placeholder=" " runat="server"></asp:TextBox>
                  
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                      <asp:TextBox ID="TextBox2"  type="password" class="form-control"  placeholder="Password" runat="server"></asp:TextBox>
                      <label for="staticEmail" class="col-sm-2 col-form-label">Tipo de Usuario</label>
                            <asp:DropDownList ID ="tipoList"
                            AutoPostBack="false"
                            runat ="Server" Visible="true" CssClass ="dropdown-trigger btn">
                            <asp:ListItem  Value="1">Administrador</asp:ListItem>
                            <asp:ListItem  Value="2">Agente</asp:ListItem>
                            <asp:ListItem  Value="3">Técnico</asp:ListItem>
                        </asp:DropDownList>
                  </div>
                    <asp:Button ID="Button1" runat="server"  class="btn btn-primary" Text="Ingresar" OnClick="Button1_Click"  />
                </form>

            </div> 
            <div class="col-12 col-sm-12 col-md-12 col-lg-2 col-xl-2"></div>
        </div>
    </div>
    
</body>
</html>
